body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0a131b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    background-color: #273849;
    width: 120px;
    height: 40px;
    margin: 25px 0;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: scale(1);
}

.reset:hover {
    background-color: rgb(82, 114, 148);
}

.reset:active {
    transform: scale(0.95);
}

.disc_on_hover {
    width: 700px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    visibility: hidden;
}

.disc_on_hover .visible {
    visibility: visible;
}

.board_game {
    background-color: #273849;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 600px;
    border-radius: 20px;
    position: relative;
}

.visible {
    opacity: 80%;
}

.square {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 5px;
    background-color: #101b27;
}

.disc_red, .disc_yellow {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.disc_red {
    background-color: #f55555;
}

.disc_yellow {
    background-color: #bcb918;
}

h3 {
    color: white;
    font-size: large;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    width: 120px;
    height: 40px;
}

.column {
    position: absolute;
    width: 100px;
    height: 600px;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.active {
    background-color: rgba(67, 90, 114, 0.247);
}
