body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0f0c11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    background-color: #3c4249cb;
    width: 120px;
    height: 40px;
    margin: 25px 0;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: scale(1);
}

.reset:hover {
    background-color: rgba(50, 210, 238, 0.959);
}

.reset:active {
    transform: scale(0.95);
}

.disc_on_hover {
    width: 700px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    visibility: hidden;
}

.disc_on_hover .square {
    width: 80px;
}

.visible {
    visibility: visible;
    opacity: 50%;
}

.board_game {
    background-color: #3c4249cb;
    border: rgba(12, 12, 12, 0.884) solid 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 600px;
    border-radius: 10px;
}


.square {
    width: 85px;
    height: 85px;
    border: rgba(8, 8, 8, 0.623) solid 2px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.925);
}

.disc_red {
    background-color: rgb(241, 57, 57);
}

.disc_yellow {
    background-color: rgba(238, 210, 50, 0.959);
}

h3 {
    color: white;
    font-size: large;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    width: 120px;
    height: 40px;
}